.navbar{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.searchbar{
    font: Sans-serif;
    color: blue;
    margin: 10px;
    text-decoration: none;
}
.searchbar:hover{
    color: black;
    text-decoration: underline;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px ;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
#rounded{
    margin-top: 30px;
    height: 44px;
    width: 600px;
    background: white ;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 24px;
}
#submit{
    margin-top: 20px;
    height: 35px;
    background:rgb(239, 235, 235);
    border: 1px rgb(246, 243, 243);
    border-radius: 5px;
    width: 140px;
}
#submit:hover{
    border: 1px solid rgb(192, 191, 191);
}
